.collections {
  margin-top: 100px;
  margin-bottom: 50px;

  &__img {
    width: 300px;
  }

  &__title {
    @include font__family("Fraunces");
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    @include duocolor(#333d4b);
  }
  &__subtitle {
    @include font__family("Barlow");
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    @include duocolor(#333d4b);
  }

  &__title2 {
    @include font__family("Fraunces");
    margin-top: 25px;
    font-style: normal;
    position: relative;
    top: 10px;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    @include duocolor(#333d4b);
  }
  &__subtitle2 {
    margin-top: 20px;
    @include font__family("Barlow");
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    @include duocolor(#333d4b);
  }

  &__title3 {
    @include font__family("Fraunces");
    margin-top: 22px;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    @include duocolor(#333d4b);
  }
  &__subtitle3 {
    margin-top: 22px;
    @include font__family("Barlow");
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    @include duocolor(#333d4b);
  }

  &__cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  &__card {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }
}
@media only screen and (max-width: 500px) {
  .collections {
    &__img {
      width: 100%;
      margin: auto;
    }
    &__cards {
      flex-direction: column;
    }
    &__subtitle {
      width: 90%;
      text-align: center;
    }

    &__main__img {
      width: 200px;
    }
  }
}
